body {
  margin: 0;
}
main {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1em;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.logo_container {
  width: 100px;
  height: 100px;
  display: flex;
}
.logo_container .logo {
}

.image_container {
  width: 300px;
  height: 300px;
  border: 1px solid black;
  border-radius: 12%;
  text-align: center;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden; */
}
.sketch {
  width: 80%;
  height: 80%;
  /* min-width: 560px; */

  /* object-fit: cover; */
}

audio {
  margin: 0;
  height: 20px;
}
figcaption {
  /* height: 5%; */
  /* bottom: 3em; */
  bottom: 10%;
  position: relative;

  /* font-size: 1.5rem; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: lightest;
  text-align: center;
}
figcaption p {
  margin-top: 10px;
  border: 1px solid black;
  border-radius: 10px;
  display: inline-block;
  padding: 10px 25px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

footer {
  font-size: 2em;
  margin: 1.5em;
  text-align: center;
}

@media (min-width: 700px) {
  .main {
    flex-direction: row;
  }
}
